<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>案件复核入库</title>
    <footer th:replace="~{common/nav_admin :: admin_head}"></footer>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <footer th:replace="~{common/nav_admin :: admin_header_nav}"></footer>
    <footer th:replace="~{common/nav_admin :: admin_side_nav}"></footer>

    <div class="layui-body" style="background-color: #F2F2F2;">
        <div style="padding: 20px;" th:unless="${syscasecheck.isEmpty()}" th:each="syscase : ${syscasecheck}">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header" th:utext="${'<b>系统录入的案件:</b>'+ syscase.casename}">标题</div>
                        <div class="layui-card-body">
                            <div th:utext="${'<b>案件编号:</b>'+ syscase.caseid}"></div>
                            <div th:utext="${'<b>案件发生时间:</b>'+ syscase.casetime}"></div>
                            <div th:utext="${'<b>案件内容:</b>'+ syscase.caseinfo}"></div>
                            <div th:utext="${'<b>案件关联人:</b>'+ syscase.casepeople}"></div>
                            <div>
                                <b>案件状态:</b>
                                <input type="radio" th:checked="${syscase.casestatus == 0}" disabled>侦查
                                <input type="radio" th:checked="${syscase.casestatus == 1}" disabled>结案
                                <input type="radio" th:checked="${syscase.casestatus == 2}" disabled>销案
                            </div>
                            <div th:utext="${'<b>案件审理记录:</b>  '+ syscase.casenote}"></div>
                            <div>
                                <input type="hidden" th:value="${syscase.caseid}"/>
                                <input type="hidden" th:value="${syscase.casetime}"/>
                                <input type="hidden" th:value="${syscase.casename}"/>
                                <input type="hidden" th:value="${syscase.caseinfo}"/>
                                <input type="hidden" th:value="${syscase.casepeople}"/>
                                <input type="hidden" th:value="${syscase.casestatus}"/>
                                <input type="hidden" th:value="${syscase.casenote}"/>
                                <button class="layui-btn layui-btn-radius layui-btn-normal a" type="button">提交入库
                                </button>
                                <button class="layui-btn layui-btn-radius layui-btn-warm" type="button">复核退回</button>
                                <button class="layui-btn layui-btn-radius layui-btn-danger a" type="button">修改案件
                                </button>
                                <button class="layui-btn layui-btn-radius layui-btn-primary a" type="button">删除案件
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding: 20px;" th:unless="${inputcasecheck.isEmpty()}" th:each="syscase : ${inputcasecheck}">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header" th:utext="${'<b>手工录入的案件:</b>'+ syscase.casename}">标题</div>
                        <div class="layui-card-body">
                            <div th:utext="${'<b>案件编号:</b>'+ syscase.caseid}"></div>
                            <div th:utext="${'<b>案件发生时间:</b>'+ syscase.casetime}"></div>
                            <div th:utext="${'<b>案件内容:</b>'+ syscase.caseinfo}"></div>
                            <div th:utext="${'<b>案件关联人:</b>'+ syscase.casepeople}"></div>
                            <div>
                                <b>案件状态:</b>
                                <input type="hidden" th:value="${syscase.casestatus}"/>
                                <input type="radio" th:checked="${syscase.casestatus == 0}" disabled>侦查
                                <input type="radio" th:checked="${syscase.casestatus == 1}" disabled>结案
                                <input type="radio" th:checked="${syscase.casestatus == 2}" disabled>销案
                            </div>
                            <div th:utext="${'<b>案件审理记录:</b>  '+ syscase.casenote}"></div>
                            <div>
                                <input type="hidden" th:value="${syscase.caseid}"/>
                                <input type="hidden" th:value="${syscase.casetime}"/>
                                <input type="hidden" th:value="${syscase.casename}"/>
                                <input type="hidden" th:value="${syscase.caseinfo}"/>
                                <input type="hidden" th:value="${syscase.casepeople}"/>
                                <input type="hidden" th:value="${syscase.casestatus}"/>
                                <input type="hidden" th:value="${syscase.casenote}"/>
                                <button class="layui-btn layui-btn-radius layui-btn-normal b" type="button">提交入库
                                </button>
                                <button class="layui-btn layui-btn-radius layui-btn-danger b" type="button">修改案件
                                </button>
                                <button class="layui-btn layui-btn-radius layui-btn-primary b" type="button">删除案件
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{common/nav_admin :: admin_footer}"></footer>
</div>
<input type="hidden" id="msg" th:value="${msgcount}"/>
<form id="input_sys" th:action="@{/admin_checkcase_to_case}" method="POST">
    <input type="hidden" name="flag" value="0">
    <input type="hidden" name="case_id" value="" id="inputcaseid_sys">
</form>

<form id="input_check" th:action="@{/admin_checkcase_to_case}" method="POST">
    <input type="hidden" name="flag" value="1">
    <input type="hidden" name="case_id" value="" id="inputcaseid_check">
</form>

<form id="return" th:action="@{/admin_return_systemcase_check}" method="POST">
    <input type="hidden" name="case_id" value="" id="returncaseid">
</form>

<form id="del_sys_case" th:action="@{/admin_del_check_case}" method="POST">
    <input type="hidden" name="flag" value="0">
    <input type="hidden" name="case_id" value="" id="del_sys_caseid">
</form>

<form id="del_input_case" th:action="@{/admin_del_check_case}" method="POST">
    <input type="hidden" name="flag" value="1">
    <input type="hidden" name="case_id" value="" id="del_input_caseid">
</form>


<div id="layer_open">
    <form class="layui-form" style="margin: 20px" th:action="@{/admin_update_case_info}" method="post">
        <!--        <div style="padding-top: 10px"></div>-->
        <input type="hidden" name="flag" id="flag" value="0">
        <input type="hidden" name="caseid" id="update_case_id" value="">
        <div class="layui-form-item">
            <label class="layui-form-label">*案件编号:</label>
            <div class="layui-input-block">
                <input type="text" id="update_caseid" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">*案件时间:</label>
            <div class="layui-input-block">
                <input type="text" name="casetime" id="update_casetime" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">案件名称:</label>
            <div class="layui-input-block">
                <input type="text" value="" name="casename" id="update_casename" autocomplete="off"
                       placeholder="请输入案件名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">案件内容:</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="caseinfo" id="update_caseinfo" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">*案件关联人:</label>
            <div class="layui-input-block">
                <input type="text" name="casepeople" id="update_casepeople" autocomplete="off" class="layui-input"
                       disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <!--            <b>案件状态:</b>-->
            <label class="layui-form-label">案件状态:</label>
            <div class="layui-input-block">
                <input type="radio" name="casestatus" id="radio_1" value="0" title="侦查">
                <input type="radio" name="casestatus" id="radio_2" value="1" title="结案">
                <input type="radio" name="casestatus" id="radio_3" value="2" title="销案">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">审理记录:</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="casenote" id="update_casenote" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-normal layui-col-md-offset11" type="submit">确认修改</button>
        </div>
    </form>
</div>


<script type="text/javascript">
    $(function () {
        $("#admin_a").addClass("layui-nav-itemed");
        $("#admin_a3").addClass("layui-this");
        var msg = $("#msg").val();
        if (msg == "0") {
            layer.msg("没有待复核的案件");
        }
    });
    // layui.use('form', function () {
    //     var form = layui.form;
    //     form.render();
    // });
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

    });

    layui.use('element', function () {
    });

    $(".layui-btn.layui-btn-radius.layui-btn-warm").click(function () {
        $("#returncaseid").val($(this).parents("div").children("input").val());
        $("#return").submit();
    });

    $(".layui-btn.layui-btn-radius.layui-btn-danger.a").click(function () {
        layer.open({
            type: 1,
            title: ['修改案件信息'],
            skin: 'layui-layer-rim', //加上边框
            area: ['80%', '65%'], //宽高
            content: $("#layer_open")
        });

        $("#update_caseid").val($(this).parents("div").children("input").eq(0).val())
        $("#update_case_id").val($(this).parents("div").children("input").eq(0).val())
        $("#update_casetime").val($(this).parents("div").children("input").eq(1).val())
        $("#update_casename").val($(this).parents("div").children("input").eq(2).val())
        $("#update_caseinfo").val($(this).parents("div").children("input").eq(3).val())
        $("#update_casepeople").val($(this).parents("div").children("input").eq(4).val())

        var check_status = $(this).parents("div").children("input").eq(5).val()
        if (check_status == "0") $("#radio_1").prop("checked", true);
        if (check_status == "1") $("#radio_2").prop("checked", true);
        if (check_status == "2") $("#radio_3").prop("checked", true);
        $("#update_casenote").val($(this).parents("div").children("input").eq(6).val())
        layui.form.render();
    });
    $(".layui-btn.layui-btn-radius.layui-btn-danger.b").click(function () {
        layer.open({
            type: 1,
            title: ['修改案件信息'],
            skin: 'layui-layer-rim', //加上边框
            area: ['80%', '65%'], //宽高
            content: $("#layer_open")
        });

        $("#flag").val("1")
        $("#update_caseid").val($(this).parents("div").children("input").eq(0).val())
        $("#update_case_id").val($(this).parents("div").children("input").eq(0).val())
        $("#update_casetime").val($(this).parents("div").children("input").eq(1).val())
        $("#update_casename").val($(this).parents("div").children("input").eq(2).val())
        $("#update_caseinfo").val($(this).parents("div").children("input").eq(3).val())
        $("#update_casepeople").val($(this).parents("div").children("input").eq(4).val())

        var check_status = $(this).parents("div").children("input").eq(5).val()
        if (check_status == "0") $("#radio_1").prop("checked", true);
        if (check_status == "1") $("#radio_2").prop("checked", true);
        if (check_status == "2") $("#radio_3").prop("checked", true);
        $("#update_casenote").val($(this).parents("div").children("input").eq(6).val())
        layui.form.render();
    });

    $(".layui-btn.layui-btn-normal.layui-col-md-offset11").click(function () {
        // layer.msg("click it")
        if (valid_it("#update_casename") && valid_it("#update_caseinfo") && valid_it("#update_casenote")) {
            return true;
        } else {
            layer.alert('修改的内容信息不能为空值', {
                title: '错误提示',
            });
            return false;
        }
    });

    $(".layui-btn.layui-btn-radius.layui-btn-primary.a").click(function () {
        $("#del_sys_caseid").val($(this).parents("div").children("input").val());
        layer.confirm('您确定要删除吗?', {
            btn: ['确定删除', '取消'] //按钮
        }, function () {
            $("#del_sys_case").submit();
        }, function () {

        });
    });

    $(".layui-btn.layui-btn-radius.layui-btn-primary.b").click(function () {
        $("#del_input_caseid").val($(this).parents("div").children("input").val());
        layer.confirm('您确定要删除吗?', {
            btn: ['确定删除', '取消'] //按钮
        }, function () {
            $("#del_input_case").submit();
        }, function () {

        });
    });

    $(".layui-btn.layui-btn-radius.layui-btn-normal.a").click(function () {
        $("#inputcaseid_sys").val($(this).parents("div").children("input").val());
        layer.confirm('您确定要提交吗?', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $("#input_sys").submit();
        }, function () {

        });
    });
    $(".layui-btn.layui-btn-radius.layui-btn-normal.b").click(function () {
        $("#inputcaseid_check").val($(this).parents("div").children("input").val());
        layer.confirm('您确定要提交吗?', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $("#input_check").submit();
        }, function () {

        });
    });

    function valid_it(id) {
        if ($(id).val().trim() == "" || $(id).val().length == 0) {
            return false;
        } else {
            return true;
        }
    };
</script>
</body>
</html>