<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>司法证据管理系统</title>
    <footer th:replace="~{common/nav_admin :: admin_head}"></footer>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <footer th:replace="~{common/nav_admin :: admin_header_nav}"></footer>
    <footer th:replace="~{common/nav_admin :: admin_side_nav}"></footer>

    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>历史已关联证据维护</legend>
        </fieldset>

        <div style="margin:20px;" th:if="${msg != 0}">
            <table class="layui-table">
                <tr class="layui-table-header">
                    <th>提交的用户</th>
                    <th>关联的案件编号</th>
                    <th>证据编号</th>
                    <th>操作</th>
                </tr>
                <tr th:each="con : ${query_result}">
                    <td th:text="${con.cuser}">1</td>
                    <td th:text="${con.caseid}">3</td>
                    <td th:text="${con.eid}">4</td>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm">查看</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <footer th:replace="~{common/nav_admin :: admin_footer}"></footer>
</div>
<input type="hidden" id="msg" th:value="${msg}"/>
<input type="hidden" id="query" th:value="${query}"/>


<script type="text/javascript">
    $(function () {
        $("#admin_b").addClass("layui-nav-itemed");
        $("#admin_b2").addClass("layui-this");
        var msg = $("#msg").val();
        if (msg == "0") {
            layer.msg("没有搜索到匹配的信息");
        }
    });

    layui.use('element', function () {
    });


    $(".layui-btn.layui-btn-normal.layui-btn-sm").click(function () {
        var cid = $(this).parents("td").parents("tr").children("td").eq(1).text();
        var eid = $(this).parents("td").parents("tr").children("td").eq(2).text();
        layer.open({
            type: 2,
            title: ['查看案件和关联证据信息'],
            skin: 'layui-layer-rim', //加上边框
            shadeClose: true,
            area: ['80%', '65%'], //宽高
            content: '/admin_connect_iframe2?cid=' + cid + '&eid=' + eid,
            end: function () {
                window.location.reload();
            }
        });
    });

</script>
</body>
</html>