<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.case_system.dao.ConnecttipMapper">
    <insert id="AddNewConnect">
		insert into `connecttip`(`cstatus`,`cuser`,`caseid`,`eid`)values(#{cstatus},#{euser},#{ecaseid},#{eid})
		</insert>

    <select id="CountConnectByUser" resultType="java.lang.Integer">
            select count(*) from `connecttip` where `cstatus`=#{cstatus} and `cuser`=#{cuser}
        </select>

    <select id="GetEidByCstatusUser" resultType="java.lang.Integer">
				select `eid` from `connecttip` where `cstatus`=#{cstatus} and `cuser`=#{cuser}
		</select>

    <select id="GetStatusByEid" resultType="java.lang.Integer">
				select `cstatus` from `connecttip` where `eid`=#{eid}
		</select>

    <select id="CountByStatus" resultType="java.lang.Integer">
            select count(*) from `connecttip` where `cstatus`=#{cstatus}
        </select>

    <select id="GetUserByStatus" resultType="java.lang.String">
            select  distinct `cuser` from connecttip where `cstatus` = #{cstatus}
        </select>

    <select id="GetConnectByStatus" resultType="Connecttip">
            select  * from connecttip where `cstatus` = #{cstatus}
        </select>

    <select id="GetConnectByStatusUser" resultType="Connecttip">
            select  * from connecttip where `cstatus` = #{cstatus} and `cuser`=#{cuser}
        </select>

    <select id="GetConnectByStatusCaseId" resultType="Connecttip">
            select  * from connecttip where `cstatus` = #{cstatus} and `caseid`=#{caseid}
        </select>

    <update id="UpdateConnectByEid">
			update `connecttip` set `cstatus`=#{cstatus},`canote`=#{canote},`cunote`=#{cunote} where `eid`=#{eid}
			</update>

    <select id="GetUserConEvi" resultType="ForRejectConnect">
            select `connecttip`.cstatus,`connecttip`.cuser,`connecttip`.caseid,`connecttip`.eid,`connecttip`.canote,`connecttip`.cunote,`evidence`.eurl,`evidence`.enote from  `connecttip` left join `evidence` on `connecttip`.eid = `evidence`.eidversion where `connecttip`.cuser = #{cuser} and `connecttip`.cstatus = #{cstatus}
        </select>

    <select id="CountByEid" resultType="java.lang.Integer">
            select count(*) from `connecttip` where `eid`=#{eid}
        </select>

</mapper>