<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.case_system.dao.EvidenceMapper">
    <select id="CountEvidenceByTimeIdNote" resultType="java.lang.Integer">
            select count(*) from `evidence` where `etime`=#{etime} and `ecaseid`=#{ecaseid} and `enote`=#{enote}
        </select>

    <select id="CountEviByNotEupdateOne" resultType="java.lang.Integer">
            select count(*) from `evidence` where `eid`=#{eid} and `eupdate` &lt;&gt; 1 and `estatus`= 1
        </select>

    <select id="GetRejectEvi" resultType="Evidence">
            select * from `evidence` where `euser`=#{euser} and `eupdate`=#{eupdate} and `estatus`= 1
        </select>

    <select id="GetEviByEditEvi" resultType="Evidence">
            select * from `evidence` where `eid`=#{eid} and `eidversion` &lt;&gt; #{eidversion} and `estatus`= 1
        </select>

    <insert id="InsertEvidence" parameterType="Evidence">
        insert into
        `evidence`(`etime`,`elasttime`,`ecaseid`,`eurl`,`enote`,`euser`,`eupdate`,`estatus`)values(#{etime},#{elasttime},#{ecaseid},#{eurl},#{enote},#{euser},#{eupdate},#{estatus})
        <selectKey keyProperty="eidversion" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="UpdateEidHisByKey" parameterType="Evidence">
            update `evidence` set `eid`=#{eid},`ehistory`=#{ehistory} where `eidversion`=#{eidversion}
    </update>

    <update id="UpdateNewVersionEvi">
            update `evidence` set `eupdate`=#{eupdate},`ehistory`=#{ehistory} where `eidversion`=#{eidversion}
    </update>

    <update id="UpdateUrlNoteLastTimeByKey" parameterType="Evidence">
            update `evidence` set `eurl`=#{eurl},`enote`=#{enote},`elasttime`=#{elasttime} where `eidversion`=#{eidversion}
    </update>

    <update id="UpdateTextUrlNoteLastTimeByKey" parameterType="Evidence">
            update `evidence` set `eurl`=#{eurl},`enote`=#{enote},`elasttime`=#{elasttime},`etext`=#{etext} where `eidversion`=#{eidversion}
    </update>

    <select id="GetEviByKey" resultType="Evidence">
				select * from `evidence` where `eidversion`=#{eidversion}
		</select>

    <select id="GetEviByEupdateEstatus" resultType="Evidence">
				select * from `evidence` where `eupdate`=#{eupdate} and `estatus`=#{estatus}
		</select>

    <select id="GetEupdateBykey" resultType="java.lang.Integer">
				select `eupdate` from `evidence` where `eidversion`=#{eidversion}
		</select>

    <select id="GetEidByKey" resultType="java.lang.String">
				select `eid` from `evidence` where `eidversion`=#{eidversion}
		</select>

    <update id="UpdateEviEstatus">
            update `evidence` set `estatus`=#{estatus} where `eidversion`=#{eidversion}
    </update>

    <update id="UpdateEviEupdateEtext">
            update `evidence` set `eupdate`=#{eupdate},`etext`=#{etext} where `eidversion`=#{eidversion}
    </update>

    <insert id="InsertEditEvidence" parameterType="Evidence">
        insert into
        `evidence`(`eid`,`etime`,`elasttime`,`ecaseid`,`eurl`,`ehistory`,`enote`,`euser`,`eupdate`,`estatus`,`etext`)values(#{eid},#{etime},#{elasttime},#{ecaseid},#{eurl},#{ehistory},#{enote},#{euser},#{eupdate},#{estatus},#{etext})
    </insert>


</mapper>