<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.case_system.dao.WebuserMapper">

    <select id="CountUsername" resultType="java.lang.Integer">
            select count(*) from webuser where `username`=#{username}
        </select>
    <select id="GetPasswordByUsername" resultType="java.lang.String">
            select `password` from webuser where `username`=#{username} limit 1
        </select>

</mapper>