<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>录入证据管理</title>
    <footer th:replace="~{common/nav_user :: user_head}"></footer>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <footer th:replace="~{common/nav_user :: user_header_nav}"></footer>
    <footer th:replace="~{common/nav_user :: user_side_nav}"></footer>

    <div class="layui-body">

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>已录入的关联证据信息</legend>
        </fieldset>

        <div style="margin:20px;" th:if="${msg != 0}">
            <table class="layui-table">
                <tr class="layui-table-header">
                    <th>提交的用户</th>
                    <th>关联的案件编号</th>
                    <th>证据版本</th>
                    <th>证据编号</th>
                    <th>操作</th>
                </tr>
                <tr th:each="con : ${info}">
                    <td th:text="${con.cuser}">0</td>
                    <td th:text="${con.caseid}">1</td>
                    <td th:text="${con.eid}">2</td>
                    <td th:text="${con.ceid}">3</td>
                    <td>
                        <button class="layui-btn layui-btn-danger layui-btn-sm">修改</button>
                        <button class="layui-btn layui-btn-normal layui-btn-sm">已有的修改版本</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <footer th:replace="~{common/nav_user :: user_footer}"></footer>
</div>


<div id="layer_open" style="display:none;">
    <form class="layui-form" style="margin: 20px" th:action="@{/user_update_editevi}" method="post">
        <input type="hidden" name="flag" id="flag" value="1">

        <input type="hidden" name="eidversion" id="update_eid" value="">
        <input type="hidden" name="eid" id="eidinfo" value="">
        <input type="hidden" id="check_url" value="" disabled>
        <input type="hidden" id="check_note" value="" disabled>

        <div class="layui-form-item">
            <label class="layui-form-label">证据版本:</label>
            <div class="layui-input-block">
                <input type="text" value="" id="_eid" class="layui-input" disabled>
            </div>
        </div>


        <div class="layui-form-item layui-col-md8">
            <label class="layui-form-label">证据内容:</label>
            <div class="layui-input-block">
                <input type="text" name="eurl" id="update_eurl"
                       value="" placeholder="请上传文件"
                       class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-inline layui-col-md4">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <button type="button" class="layui-btn" id="upload"><i class="layui-icon">&#xe67c;</i>上传文件</button>
                    <button class="layui-btn layui-btn-danger" id="reset_upload" type="button">清除</button>
                </div>
            </div>
        </div>


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注:</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入备注信息" name="enote" id="update_enote" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-normal layui-col-md-offset11" type="submit">确认修改</button>
        </div>
    </form>
</div>


<input type="hidden" id="msg" th:value="${msg}"/>
<script type="text/javascript">
    $(function () {
        $("#user_c").addClass("layui-nav-itemed");
        $("#user_c1").addClass("layui-this");
        var msg = $("#msg").val();
        if (msg == "0") {
            layer.msg("该用户没有已关联的录入证据信息");
        }
    });
    layui.use('element', function () {
        // var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        // element.on('nav(demo)', function (elem) {
        //     layer.msg(elem.text());
        // });
    });
    layui.use('layer', function () {

    });

    layui.use(['form', 'layedit'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
    });

    $(".layui-btn.layui-btn-danger.layui-btn-sm").click(function () {
        $("#flag").val(2);
        var eid_ = $(this).parents("td").parents("tr").children("td").eq(3).text()
        $.ajax({
            url: '/user_check_more_eid',
            type: 'POST',
            data: {eid: eid_},
            success: function (res) {
                if (res == 300) {
                    layer.open({
                        type: 1,
                        title: ['修改证据信息'],
                        shadeClose: true,
                        skin: 'layui-layer-rim', //加上边框
                        area: ['80%', '65%'], //宽高
                        content: $("#layer_open")
                    });
                    $.ajax({
                        url: '/user_getevi_responsebody',
                        type: 'POST',
                        data: {eid: eid_},
                        success: function (res) {
                            $("#update_eid").val(res.eidversion);
                            $("#_eid").val(res.eidversion);
                            $("#update_eurl").val(res.eurl);
                            $("#update_enote").val(res.enote)
                            $("#check_url").val(res.eurl)
                            $("#check_note").val(res.enote)
                            $("#eidinfo").val(res.eid)
                        }
                    });
                    layui.form.render();
                } else {
                    // $(this).addClass("layui-btn-disabled");
                    layer.msg("数据库中已存在一个修改了的版本,请点击后面的按钮")
                }
            }
        });
    });

    $(".layui-btn.layui-btn-normal.layui-btn-sm").click(function () {
        $("#flag").val(1);
        var eid_ = $(this).parents("td").parents("tr").children("td").eq(3).text();
        $.ajax({
            url: '/user_check_more_eid',
            type: 'POST',
            data: {eid: eid_},
            success: function (res) {
                if (res == 200) {
                    layer.open({
                        type: 1,
                        title: ['修改证据信息'],
                        shadeClose: true,
                        skin: 'layui-layer-rim', //加上边框
                        area: ['80%', '65%'], //宽高
                        content: $("#layer_open")
                    });
                    $.ajax({
                        url: '/user_getevi_responsebody',
                        type: 'POST',
                        data: {eid: eid_},
                        success: function (res) {
                            $("#update_eid").val(res.eidversion);
                            $("#_eid").val(res.eidversion);
                            $("#update_eurl").val(res.eurl);
                            $("#update_enote").val(res.enote);
                            $("#check_url").val(res.eurl);
                            $("#check_note").val(res.enote);
                            $("#eidinfo").val(res.eid);
                        }
                    });
                    layui.form.render();
                } else {
                    // $(this).addClass("layui-btn-disabled");
                    layer.msg("数据库中不存在一个修改了的版本,请点击前面的按钮")
                }
            }
        });
    });


    $(".layui-btn.layui-btn-normal.layui-col-md-offset11").click(function () {
        if (valid_it("#update_eurl") && valid_it("#update_enote")) {
            if ($("#update_eurl").val() == $("#check_url").val() && $("#update_enote").val() == $("#check_note").val()) {
                layer.alert('并没有任何修改', {
                    title: '错误提示',
                });
                return false;
            } else {
                return true;
            }

        } else {
            layer.alert('录入的信息不允许有空', {
                title: '错误提示',
            });
            return false;
        }
    });


    function valid_it(id) {
        if ($(id).val().trim() == "" || $(id).val().length == 0) {
            return false;
        } else {
            return true;
        }
    };

    $("#reset_upload").click(function () {
        $("#update_eurl").val("");
    });


    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            ,url: '/file/upload' //上传接口
            ,accept: 'file'
            ,done: function(res){
                //上传完毕回调
                layer.msg(res.msg)
                $("#update_eurl").val(res.url)
            }
            ,error: function(res_){
                //请求异常回调
                layer.msg(res_.msg)
            }
        });
    });
</script>
</body>
</html>