<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>退回维护处理</title>
    <footer th:replace="~{common/nav_user :: user_head}"></footer>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <footer th:replace="~{common/nav_user :: user_header_nav}"></footer>
    <footer th:replace="~{common/nav_user :: user_side_nav}"></footer>

    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>退回的维护记录</legend>
        </fieldset>

        <div style="margin:20px;" th:if="${msg != 0}">
            <table class="layui-table">
                <tr class="layui-table-header">
                    <th>提交的用户</th>
                    <th>关联的案件编号</th>
                    <th>证据编号</th>
                    <th>证据版本</th>
                    <th>管理员留言</th>
                    <th>最后一次修改时间</th>
                    <th>操作</th>
                </tr>
                <tr th:each="con : ${info}">
                    <td th:text="${con.euser}">0</td>
                    <td th:text="${con.ecaseid}">1</td>
                    <td th:text="${con.eid}">2</td>
                    <td th:text="${con.eidversion}">3</td>
                    <td th:text="${con.etext}">4</td>
                    <td th:text="${con.elasttime}">5</td>
                    <td>
                        <button class="layui-btn layui-btn-normal layui-btn-sm">确认</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <footer th:replace="~{common/nav_user :: user_footer}"></footer>
</div>

<form id="update_eupdate" th:action="@{/user_update_eupdate}" method="POST">
    <input type="hidden" name="eid" value="" id="re_id">
</form>

<input type="hidden" id="msg" th:value="${msg}"/>
<script type="text/javascript">
    $(function () {
        $("#user_c").addClass("layui-nav-itemed");
        $("#user_c2").addClass("layui-this");
        var msg = $("#msg").val();
        if (msg == "0") {
            layer.msg("没有退回的维护记录");
        }
    });
    layui.use('element', function () {
        // var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        // element.on('nav(demo)', function (elem) {
        //     layer.msg(elem.text());
        // });
    });
    layui.use('layer', function () {

    });

    $(".layui-btn.layui-btn-normal.layui-btn-sm").click(function () {
        $("#re_id").val($(this).parents("td").parents("tr").children("td").eq(3).text());
        $("#update_eupdate").submit();
    });
</script>
</body>
</html>