<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>待关联证据维护</title>
    <footer th:replace="~{common/nav_user :: user_head}"></footer>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <footer th:replace="~{common/nav_user :: user_header_nav}"></footer>
    <footer th:replace="~{common/nav_user :: user_side_nav}"></footer>

    <div class="layui-body">
        <div style="padding: 15px;">待关联证据维护</div>
    </div>

    <footer th:replace="~{common/nav_user :: user_footer}"></footer>
</div>
<script type="text/javascript">
    $(function () {
        $("#user_b").addClass("layui-nav-itemed");
        $("#user_b1").addClass("layui-this");
    });
    layui.use('element', function () {

    });
    layui.use('layer', function () {

    });
</script>
</body>
</html>